#cabecalho {
    text-align: center;
    color: rgb(255, 255, 255);
    background-size: 50% 50%;}

    body {
        background-image: url(kay/kaykay.jpg);
        background-size: 50%;
    }

  
    