body{
    background-color: rgb(144, 142, 142);
    color: rgb(255, 255, 255);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

h1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 750px;
    border: outset 4px rgb(236, 232, 232);
    background-color: rgb(160, 160, 160);
}

#caixaTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 700px;
    height: 400px;
    border: 3px dotted white;
}