<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/style3.css">
    <title>Document</title>
</head>
<body>
<!--div cabeçalho-->
<div class="cabeçalho">
    <div> 
    <!--imagem docinho-->
            <a href="http://127.0.0.1:5500/aula%2014/layout/index2.html">
            <img id="img" src="img/lojinha.png"> </a>
    </div>

    <!--imagem home-->
    <div>
           <a href="http://127.0.0.1:5500/aula%2014/layout/index1.html">
           <img id="img1" src="img/home.png"> </a>
    </div>

   <!--Carrinho-->
   <div>
       <a href="http://127.0.0.1:5500/aula%2014/layout/index1.html">
       <img id="img2" src="img/carrinho.png"> </a>
   </div>

   <!--Menu-->
<div>
    <div class="dropdown"> <!--div do menu principal-->
       <button class="dropbtn"><img id="img3" src="img/menu.png"> </a></button>
       <!--div dos links-->
       <div class="dropdown-content">
       <a href="#"> Bolos </a>
       <a href="#"> Tortas </a>
       <a href="#"> Brigadeirinhos </a>
       </div>
</div>
 

    <!--div corpo-->
<div class="corpo">
    <h1> Algum problema? </h1>

    <div class="imagens"> 
       <!--imagem bolo-->
               <img src="img/emoji.png" class="imagens"> </a>
    </div>

       <textarea id="text" rows="20" cols="40">  Suas sugestões escritas aqui </textarea>


    <div class="selecionador"> 
       <input type="checkbox"> Login <br>
       <input type="checkbox"> Produtos <br>
       <input type="checkbox"> Problemas de login <br>
       <input type="checkbox"> Compras <br>
       <input type="checkbox"> Outros <br>
    </div>

<div id="email">
     <a href="mailto:fulano@gmail.com"> Enviar Email </a>
</div>
    


</div>
</body>
</html>i