<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/style4.css">
    <title>Document</title>
</head>
<body>
<!--div cabeçalho-->
<div class="cabeçalho">
    <div> 
    <!--imagem docinho-->
            <a href="http://127.0.0.1:5500/aula%2014/layout/index2.html">
            <img id="img" src="img/lojinha.png"> </a>
    </div>

    <!--imagem home-->
    <div>
           <a href="http://127.0.0.1:5500/aula%2014/layout/index1.html">
           <img id="img1" src="img/home.png"> </a>
    </div>

    <!--imagem icone-->
    <div>
          <a href="http://127.0.0.1:5500/aula%2014/layout/index3.html">
          <img id="img2" src="img/icone.png"> </a>
    </div>

    <!--imagem carrinho-->
    <div>
        <a href="http://127.0.0.1:5500/aula%2014/layout/index1.html">
        <img id="img3" src="img/carrinho.png"> </a>
    </div>
 

    <div>
        <div class="dropdown"> <!--div do menu principal-->
           <button class="dropbtn"><img id="img4" src="img/menu.png"height="235"> </a></button>
           <!--div dos links-->
           <div class="dropdown-content ">
           <a href="#"> Bolos </a>
           <a href="#"> Tortas </a>
           <a href="#"> Brigadeirinhos </a>
   </div>
</div>


<div class="corpo">
    <h1> Método de pagamento </h1>

    <div class="imagens"> 
       <!--imagem cartões-->
               <img src="img/cartoes.png" class="imagens"> </a>
               <br>
               <br>
               <br>
        <p> <b> Final do cartão ************7804 </b></p>
    
        <button id="dados"> Alterar dados </button>
       </div>

<div class="caixacinza">
    <div id="alinhar1">
        <h1>Bolo</h1>
        <h1>Brigadeiro</h1>
        <h1>Torta</h1>
        <h1>Sorvete</h1>
        <h1>Total:</h1>
    </div>

    <div id="alinhar2">
        <h1>R$230,99</h1>
        <h1>R$21,99</h1>
        <h1>R$59,99</h1>
        <h1>R$53,99</h1>
        <h1>R$368,99</h1>
        <button id="compra"> Confirmar compra </button>
    </div>
</div>

</div>
</html>
</body>