<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/style2.css">
    <title>Document</title>
</head>
<body>
<!--div menu-->
<div> 
    <a href="http://127.0.0.1:5500/aula%2014/layout/index1.html">
    <img class="home" src="img/home.png"> </a>
</div>

<div>
    <a href="http://127.0.0.1:5500/aula%2014/layout/index3.html">
    <img class="icone" src="img/icone.png"> </a>
</div>

<div> 
    <a href="http://127.0.0.1:5500/aula%2014/layout/index1.html">
    <img id="bloco" src="img/bloco.png"> </a>
</div>

<div>
    <img id="user" src="img/user.png"> </a>
</div>

<div class="formulario"><b></b>
     <form>
         <h2> Bem vindo! </h2>
         <br>
         <br>
         <br>
         <input type="text" placeholder="Seu nome">
         <br>
         <br>
         <input type="text" placeholder="Email/celular">
         <br>
         <br>
         <input type="text" placeholder="Senha">
         <br>
         <br>
         <button id="confirmar"> Confirmar </button>
     </form>
</div>
</html>
</body>




