<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/style1.css">
    <title>Document</title>
</head>
<body>
<!--div cabeçalho-->
<div class="cabeçalho">
    <div> 
    <!--imagem docinho-->
            <a href="http://127.0.0.1:5500/aula%2014/layout/index2.html">
            <img id="img" src="img/lojinha.png"> </a>
    </div>

    <!--imagem home-->
    <div>
           <a href="http://127.0.0.1:5500/aula%2014/layout/index1.html">
           <img id="img1" src="img/home.png"> </a>
    </div>

    <!--imagem icone-->
    <div>
          <a href="http://127.0.0.1:5500/aula%2014/layout/index3.html">
          <img id="img2" src="img/icone.png"> </a>
    </div>

    <!--caixa seletor-->
    <div>
        <select name="Doces" id="doces">
            <option value="doce"> Doce </option>
            <option value="doce 1"> Doce 1 </option>
            <option value="doce 1"> Doce 2 </option>
            <option value="doce 1"> Doce 3 </option>
         </select> 
   </div>

   <!--barra pesquisa-->
   <div>
       <label> 
       <input type="text" placeholder="pesquisar" id="pesquisa">
       </label>
   </div>

   <!--Carrinho-->
   <div>
       <a href="http://127.0.0.1:5500/aula%2014/layout/index4.html">
       <img id="img3" src="img/carrinho.png"> </a>
   </div>

   <!--Menu-->
   <div>
    <div class="dropdown"> <!--div do menu principal-->
       <button class="dropbtn"><img id="img4" src="img/menu.png"height="235"> </a></button>
       <!--div dos links-->
       <div class="dropdown-content ">
       <a href="#"> Bolos </a>
       <a href="#"> Tortas </a>
       <a href="#"> Brigadeirinhos </a>
    </div>
</div>

<!--div corpo-->
<div class="corpo">
     <h1> Ofertas </h1>

     <div class="imagens"> 
        <!--imagem bolo-->
                <img src="img/bolo.png" class="imagens"> </a>
                <img src="img/bolo.png" class="imagens"> </a>
                <img src="img/bolo.png" class="imagens"> </a>
                <img src="img/bolo.png" class="imagens"> </a>
        </div>
        
        <br>
        <h1>Mais vendidos recentemente</h1>
        <div class="imagens2">
            <img src="img/sorvete.png" class="imagens3"> </a>
            <img src="img/sorvete.png" class="imagens3"> </a>
            <img src="img/sorvete.png" class="imagens3"> </a>
            <img src="img/sorvete.png" class="imagens3"> </a>
        </div><br>
        <br>
        <h1>Recomendados meio de ano </h1>
        <div class="imagens3">
                <img src="img/brigadeiro.png" class="imagens2"> </a>
                <img src="img/brigadeiro.png" class="imagens2"> </a>
                <img src="img/brigadeiro.png" class="imagens2"> </a>
                <img src="img/brigadeiro.png" class="imagens2"> </a>
    </div><br>
      
</div>
</body>
</html>